<!DOCTYPE html>
<html>
<head>
	<title>Question & Answer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src= "./js/sign.js"></script>
    <script src="/reload/reload.js"></script>
</head>

<body>
    <% include navbar%>
<div class="col-sm-4">
<h1>Sign up</h1><hr>

<div>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% }  

        else if (success.length > 0) { %>
        <div class="alert alert-success"><%= success %></div>
    <% }  %>
</div>

<form autocomplete="on" action="/sign" method="post" id ="validtation" >

<div class="form-group">
<label>Name :</label><br>
<input type="text" name="Name" class="form-control"  placeholder="Enter your name." >
</div>

<div class="form-group">
<label>Email :</label><br>
<input type="email" name="Email" class="form-control" placeholder="Enter your email." />
</div>

<div class="form-group">
<label>Enter Password :</label><br>
<input type="password" name="Password" class="form-control" placeholder="Enter your password." >
</div>

<div class="form-group">
<label>Re-Enter-Password :</label><br>
<input type="password" name="Confirm" class="form-control" placeholder="Re-Enter-Password" >
</div>

<!--<div class="form-group">-->
<!--<label>Gender</label>-->
<!--<h4><input type="radio" name= "Gender" value= "Male" />Male-->
<!--<input type="radio" name= "Gender" value= "Female" />Female -->
<!--<input type="radio" name= "Gender" value= "Other" />Other</h4>-->
<!--</div>-->

<div class="form-group">
<button type="submit" class="btn btn-success form-control">Sign up</button><br><br>
<!-- <button onclick= "shake()" class="btn btn-success form-control">Sign up</button><br><br> -->
</div>
</form>
</div>

</body>
</html>